html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow: hidden; /*スクロール禁止*/
  touch-action: manipulation; /*ダブルタップ拡大禁止*/
}

body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100%;
  max-width: 414px;
  overflow: hidden; /*スクロール禁止*/
}

/* 全体の余白とパディングをリセット */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* 横スクロールを防ぐ */
}

*,
*::before,
*::after {
  box-sizing: border-box; /*paddingも含めてwidth指定*/
}

img {
  /* 長押しによる保存禁止 */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

.buffIcon,
.battleIcon {
  pointer-events: none; /*長押しによるドラッグアンドドロップを禁止*/
}

#pageHeader {
  margin-left: 0.5rem;
}

#pageContainer {
  display: flex;
  justify-content: center;
}

#adjustPartyPage {
  width: 96%;
}

/*いつもの*/
.normalButton {
  height: 1.6rem;
  width: max-content;
  padding: 0rem 0.6rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  text-align: center;
  border: none;
  border-radius: 0.85rem;
  background-color: #e9e9e9;
  color: #0075fb;
  font-size: 1rem;
}
.debugBtns {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0rem 0.1rem;
  font-size: 0.9rem;
}
#resetBtn,
#skipBtn,
#finishBtn {
  background-color: #d8d8d8;
}

select {
  -webkit-appearance: none;
  /* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none;
  /* ベンダープレフィックス(Firefox用) */
  appearance: none;
  /* 標準のスタイルを無効にする */
  height: 1.6rem;
  width: max-content;
  padding: 0rem 0.5rem;
  margin-left: 0rem;
  margin-right: 0.3rem;
  text-align: left;
  border: none;
  border-radius: 0.85rem;
  background-color: #e9e9e9;
  color: #0075fb;
  font-size: 1rem;
}

/* ポップアップwindow部分 */
.overlay {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 70;
  width: 100%;
  height: 100%;
  transition: visibility 0s, opacity 0.1s linear;
}

/* オーバーレイの背景部分 */
.bg_gray {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 80;
}

/* ウィンドウ部分 */
.popupWindow {
  width: 90%;
  padding-left: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.6);
  z-index: 90;
  opacity: 0;
  transition: opacity 0.2s linear; /*ここでウィンドウ出現時のラグを指定*/

  display: flex; /* flexbox を使って子要素を横並びに配置 */
  flex-wrap: wrap; /* 要素が親要素をはみ出す場合に折り返す */
  gap: 10px; /* 画像間の間隔 */
  overflow: auto; /* コンテンツがウィンドウからはみ出した場合にスクロールバーを表示 */
  max-height: 80vh; /* ウィンドウの高さの最大80%までスクロールできるように設定 */
}

/*ポップアップウィンドウ内*/
.monsterListIcon,
.gearList {
  width: calc(20% - 10px); /* ボタン5つ横並びにするために幅調整 */
  max-width: 70px; /* 画像の最大幅pc */
  margin-right: 0.05rem;
  margin-left: 0.05rem;
  margin-bottom: 0.1rem;
  height: auto;
}

/* パテ画像部分 */

#partyIconsContainer,
#partyGearsContainer,
.battleIconsContainer {
  display: flex;
}
#partyIconsContainer {
  margin-bottom: 2px;
  margin-top: 2px;
}
#partyGearsContainer {
  margin-bottom: 6px;
}
.battleIconsContainer {
  margin-bottom: 10px;
  justify-content: space-evenly;
  align-items: center;
}

.partyIconWrapper,
.partyGearWrapper,
.battleIconWrapper {
  flex-basis: 20%;
  display: flex;
  justify-content: center; /*親要素に指定して中央に*/
}
.battleIconWrapper {
  position: relative; /*ダメージ表示用*/
  flex-basis: 15%;
}

.allyBattleIconWrapper.stickOut {
  transform: translate(0%, -15%);
}
.enemyBattleIconWrapper.stickOut {
  transform: translate(0%, 10%);
}
.allyBattleIconWrapper.recede {
  transform: translate(0%, 10%);
}

.partyIcon {
  width: 80%;
  height: auto;
}
.partyGear {
  width: 55%;
  height: auto;
}
.battleIcon {
  width: 100%;
  height: auto;
}

/*tab*/
#monsterTabContainer {
  display: flex;
}

#monsterTabContainer div {
  flex: 1; /* 各要素を均等に幅を分配 */
}

.eachTab {
  display: block;
  /*width: 93%;*/
  text-align: center;
  padding: 0.2rem;
  background-color: #f0f0f0;
  color: #333; /* テキストの色 */
  font-size: 0.75rem; /* テキストのサイズ */
  border: 1px solid #ccc; /* 枠線のスタイル */
  margin: 0;
  /*button時height: 1.5rem;*/
}

.eachTab.selectedTab {
  background-color: rgba(0, 191, 255, 0.1);
  border-bottom-color: rgba(0, 191, 255, 0.1); /* 枠線下なし */
}

#tab1,
#tab2,
#tab3,
#tab4 {
  margin-right: -1px;
}

/*ステータス種詳細部分*/

#statusInfoContainer {
  padding-left: 0.4rem;
  display: flex; /*横並び*/
  /*背景*/

  padding-top: 0.7rem;
  padding-bottom: 0.4rem;
  background-color: rgba(0, 191, 255, 0.1);
  /*border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;*/
}

#statusInfoTitle,
#statusInfoColon,
#statusInfoDisplayStatus,
#statusInfoSeedIncrement,
#statusInfoGearIncrement,
#statusInfoSeedTitle,
#statusInfoSeedSelectContainer {
  line-height: 1.3; /* テキストの高さをリセットして均等にする */
}

#statusInfoTitle {
  width: 15%;
}
#statusInfoColon {
  width: 6%;
}
#statusInfoDisplayStatus {
  text-align: right; /* テキストを右揃えにする */
  width: 10%;
}
#statusInfoSpace {
  width: 8%;
}
#statusInfoSeedIncrement {
  width: 12%;
}
#statusInfoGearIncrement {
  width: 20%;
}

#statusInfoSeedTitle {
  margin-top: 2.5rem; /* 2行分のマージンを設定 */
  width: 12%;
}
#statusInfoSeedSelectContainer {
  margin-top: 2.5rem; /* 2行分のマージンを設定 */
  width: 12%;
}

#resetSeedBtn {
  font-size: 0.8rem; /* 他よりも少し小さめに設定 */
  height: 1.4rem;
  padding: 0rem 0.4rem;
  position: absolute;
  right: 28rem;
  bottom: 31rem;
}

.selectSeed {
  height: 1.1rem;
  padding: 0rem 0.4rem;
  margin-right: 0rem;
  width: 2.5rem;
}

#skillFlexContainer {
  display: flex; /*横並び*/
  flex-flow: column;
}

/*戦闘画面 icon以外*/
#battlePage {
  width: 100%;
  display: none;
}

#battlePageAbove {
  width: 100%;
  background-color: #dfcb80;
}
#battlePageBelow {
  width: 100%;
  background-color: black;
  padding-bottom: 5px;
}

#enemyBattleIconsContainer {
  padding-top: 0rem;
}
#allyBattleIconsContainer {
  padding-bottom: 0.5rem;
}

/*bar*/

.barContainer {
  display: flex;
  justify-content: space-evenly;
  /*align-items: center;*/
}

.eachBarContainer {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 交差軸方向に中央寄せ */
}

.bar {
  width: 87%;
  height: 0.5rem;
  background-color: #3b393c;
  border-radius: 0.25rem;
  position: relative;
  margin-bottom: 0.7rem;
  border: 0.5px solid;
  border-color: black;
  box-shadow: 0 0 0 1.7px white;
  z-index: 1; /* bar を damageDisplay よりも手前に表示 */
}
.barInner {
  position: absolute;
  width: 100%; /* 現在のHP割合に応じて調整 */
  height: 100%;
  background-color: #14fe02;
  border-radius: 0.25rem 0 0 0.25rem;
  /*transition: width 0.5s ease-in-out;*/
  z-index: 2; /* 重なり順を上げる */
}
.mpBarInner {
  background-color: #07c0fd;
}

.barText {
  position: absolute;
  z-index: 3; /* 重なり順を上げる */
  transform: translate(0%, -60%);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 77%;
  /*text-shadow: 0.5px 0.5px 0 #000000, -0.5px 0.5px 0 #000000, -0.5px -0.5px 0 #000000, 0.5px -0.5px 0 #000000, 0.5px 0px 0 #000000, 0px 0.5px 0 #000000, -0.5px 0px 0 #000000, 0px -0.5px 0 #000000;*/
  /*-webkit-text-stroke: 0.5px black; 内側に縁取りしてしまうので細い、影でぼかす方が*/
  text-shadow: black 0.3px 0px 0.7px, black -0.3px 0px 0.7px, black 0px -0.3px 0.7px, black 0px 0.3px 0.7px, black 0.3px 0.3px 0.7px, black -0.3px 0.3px 0.7px, black 0.3px -0.3px 0.7px,
    black -0.3px -0.3px 0.7px;
}

.damageDisplay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #e52d0e;
  border-radius: 0.25rem 0 0 0.25rem;
  transition: width 0.2s ease-in-out; /* アニメーションの時間と easing を設定 */
  z-index: 1; /* 重なり順を下げる */
}

#enemyBars {
  padding-bottom: 6rem;
}

.barContainer {
  padding-bottom: 1rem;
}

#consoleScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#consoleScreen {
  position: relative; /* 文字を絶対配置するため */
  transform: translate(0%, -50%);
  width: 96%;
  height: 3.7rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 6px 10px;
  color: white;
  font-family: "Hiragino Maru Gothic ProN", "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  overflow: hidden; /* はみ出た文字を非表示 */
  display: flex; /* Flexbox を適用 */
  flex-direction: column; /* 縦方向に配置 */
  justify-content: space-between; /* 要素間を均等に配置 */
}

#message-line1,
#message-line2 {
  width: auto;
  margin: 0;
  font-size: 0.9rem; /* 文字サイズを調整 */
}

#commandBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 交差軸方向に中央寄せ */
  flex-wrap: wrap;
  position: relative; /*popupの起点化*/
  /*padding-bottom: 2rem;*/
}

.commandBtn {
  width: 30%;
  height: 3.3rem;
  padding: 0rem;
  margin: 3px;
  text-align: center;
  border: 1px solid #f3d58f;
  box-shadow: 0.5px 0.5px 7px 0.5px #bf5455 inset;
  border-radius: 0.5rem;
  background-color: #9b1214;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ウィンドウ部分 */
#commandPopupWindow {
  visibility: hidden;
  width: 96%;
  height: 94%;
  position: absolute; /*親要素にrelativeでそこ起点*/
  transform: translate(0%, -2%);
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 90;
  /*opacity: 0;*/
  transition: opacity 0.2s linear; /*ここでウィンドウ出現時のラグを指定*/
  padding: 4px 4px;
}

#commandPopupWindowContents {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

#commandPopupWindowText {
  position: absolute;
  margin-left: 5px;
  width: 100%;
  color: #eceb1e;
  font-size: 0.9rem;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#selectSkillBtnContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end; /*下揃え*/
}

.selectSkillBtn {
  width: 20%;
  height: 60%;
  padding: 0;
  margin: 2px;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0.5px 0.5px 7px 0.5px #bf5455 inset;
  border-radius: 0.5rem;
  background-color: #06718b;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#selectSkillTargetAll,
#askFinishCommand,
#howToCommandEnemy {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap; /*簡略的に2行に*/
}

#selectSkillTargetAllText,
#askFinishCommandText,
#howToCommandEnemyText {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.selectSkillTargetAllBtn,
.howToCommandEnemyBtn {
  /*transform: translate(0%, 200%);*/
  width: 30%;
  height: 1.7rem;
  padding: 0rem;
  margin: 3px;
  text-align: center;
  border: 1px solid white;
  box-shadow: 0.5px 0.5px 7px 0.5px #bf5455 inset;
  border-radius: 0.5rem;
  background-color: blue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#selectSkillTargetBtnYes,
#askFinishCommandBtnYes {
  background-color: red;
}

.howToCommandEnemyBtn {
  width: 25%; /*3選択肢のため幅調整*/
  background-color: red;
}

#selectSkillTargetContainer {
  position: absolute;
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: flex-start; /* 左揃え */
  align-items: center;
}

.selectSkillTargetWrapper {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.selectSkillTarget {
  width: 83%;
  height: auto;
}

#closeCommandPopupWindowBtnContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

#closeCommandPopupWindowBtn {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid white; /* 枠の調整 */
  border-radius: 0.5rem;
  background: blue; /* ボタンの背景色 */
}

#closeCommandPopupWindowBtn::before,
#closeCommandPopupWindowBtn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px; /* 棒の幅（太さ） */
  height: 1rem; /* 棒の高さ */
  background: white; /* バツ印の色 */
}
#closeCommandPopupWindowBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#closeCommandPopupWindowBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.buffContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start; /* バフアイコンを左詰めに変更 */
}

.buffIcon {
  width: 33.33%;
  padding-top: 33.33%; /* アスペクト比を維持するためにパディングトップを使用 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#upperContainer {
  display: flex;
}

#fieldStateContainer {
  width: 70%;
  /*height: 4.7rem;*/
  padding: 6px 10px;
  color: white;
  text-shadow: black 0.3px 0px 0.7px, black -0.3px 0px 0.7px, black 0px -0.3px 0.7px, black 0px 0.3px 0.7px, black 0.3px 0.3px 0.7px, black -0.3px 0.3px 0.7px, black 0.3px -0.3px 0.7px,
    black -0.3px -0.3px 0.7px;
  font-family: "Hiragino Maru Gothic ProN", "M PLUS Rounded 1c", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  /*font-size: 0.9rem; */
}

.fieldStateDisplay {
  color: yellow;
  margin-left: 0.2rem;
  font-size: 0.7rem;
}

#cooperationDisplayContainer {
  z-index: 10; /* 他の要素より上に表示 */
  visibility: hidden;
  font-style: italic;
  font-size: 1.2rem;
  color: #ffaf06; /*敵は#e72e2c*/
  text-shadow: black 0.5px 0px 1px, black -0.5px 0px 1px, black 0px -0.5px 1px, black 0px 0.5px 1px, black 0.5px 0.5px 1px, black -0.5px 0.5px 1px, black 0.5px -0.5px 1px, black -0.5px -0.5px 1px;
}
#cooperationAmount {
  font-size: 2.3rem;
}

#cooperationDisplay2ndLine {
  margin-top: -0.5rem;
  font-size: 0.78rem;
}

#cooperationDamage {
  color: white;
}

#skillFlexContainer {
  display: block;
  /*flex-flow: column;*/
}

.changeSkillWrapper {
  position: relative;
  display: inline-block;
  width: 60%;
}

.changeSkillWrapper::after {
  content: "";
  position: absolute;
  border: 4px solid #333;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  top: calc(50% - 3px);
  right: 10px;
  width: 0;
  height: 0;
}

.changeSkillWrapper-disabled::after {
  border-top-color: #aaa;
}

.changeSkill {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0px 25px 0px 10px;
  font-size: 1.1rem;
  cursor: pointer;
  width: 100%;
  height: 2rem;
}

.changeSkill:disabled {
  pointer-events: none;
  background-color: #f1f1f1;
  color: #aaa;
}
